

button {
    color: var(--white);
    background-color: var(--action_color);
    font-weight: 900;
    border-radius: 20px;
    border: none;
}

button:hover {
    background-color: var(--button_color_bg);
    cursor: pointer;
}

button:active {
    background-color: var(--button_color_active);
}

.buttonSpecies {
    width: 40%;
    padding: 2%;
    border-radius: 10px;
    margin: 3%;
}

